h1{
    background-color: #0000FF
}

button{
    padding: 5px 15px;
    background-color:blue;
    color:white;
    transition: all ease 0.3s;
}

button:active{
    background-color: black;
}

input:focus{
    background-color:red;
}

li:first-child{
    background-color:black;
    color:white
}
li:last-child{
    background-color:blue;
    color:white
}

li:nth-child(2){
    background-color:brown;
}

li:not(.not-child){
    background-color: green;
}