@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   line-height: 1;
   color: #231E20;
   background: #F2E5D0;
}

a{
   text-decoration: none;
   color: #213E20;
}

.container{
   padding: 0 20px 0 80px;
}

h1{
   margin-bottom: 20px;
}

.toc-wrapper{
   width: 100%;
   max-width: 768px;
   position: relative;
   padding: 10px 0 10px 20px;
   margin: 80px auto;
   border-left: 4px solid #D9AA63;
}

.toc-wrapper:before{
   content: "";
   position: absolute;
   top: -60px;
   left: -60px;
   width: 60px;
   height: 60px;
   background: url(toc.svg) 50% 50% no-repeat #D9AA63;
   background-size: 30px;
   border-radius: 10px 10px 0 50%;
}

.toc{
   list-style: none;
   counter-reset: li;
}

.toc li{
   margin-bottom: 20px;
   transition: .3s linear;
}

.toc li:last-child{
   margin-bottom: 0;
}

.toc li:before{
   counter-increment: li;
   content: counter(li, "");
   margin-right: 10px;
   font-weight: 700;
   width: 28px
   height: 28px;
   text-align: center;
   line-height: 28px;
   display: inline-block;
   border: 1px solid transparent;
   border-radius: 50%;
   transition: .3s linear;
}

.toc li:hover{
   border-color: #D9AA63;
   color:#D9AA63;
}